<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Application Tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="AWS_ACCESS_KEY_ID" value=""/>
        <env name="AWS_SECRET_ACCESS_KEY" value=""/>
        <env name="AWS_REGION" value="us-east-1"/>
        <env name="AWS_VERSION" value="latest"/>
    </php>
</phpunit>